/*-------------------------------------------
	共通部分
  -------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000000;
}

/*-------------------------------------------
  ページ全体
  -------------------------------------------*/
.page-wrapper {
  width: 100%;
  padding: 0 40px;
  max-width: 1280px;
  margin: 0 auto;
}

/*-------------------------------------------
  メインコンテンツ
  -------------------------------------------*/
.main-content {
  display: flex;
  flex-direction: column;
  gap: 120px;
}

/*-------------------------------------------
  これより下にコードを追加してください。
  -------------------------------------------*/
/*-------------------------------------------
  ヘッダー
  -------------------------------------------*/
header {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
}

ul {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

li:hover {
  opacity: 0.7;
}
/*-------------------------------------------
  メインビジュアル
  -------------------------------------------*/
.main-visual {
  width: 100%;
  height: 640px;
  border-radius: 16px;
  object-fit: cover;
}


/*-------------------------------------------
  セクション 共通部分
  -------------------------------------------*/
.section {
  display: flex;
  flex-direction: column;
  gap:40px;
  align-items: center;
}

.section-title {
  text-decoration: underline;
  text-align: center;
}
/* -------------------------------------------
  プロフィール
  -------------------------------------------*/
.profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
}

.profile-text {
  display: flex;
  flex-direction: column;
  gap:16px;
}

.profile-image {
  border-radius: 50%;
}
/* -------------------------------------------
  記事
  -------------------------------------------*/
.articles {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px 16px;
}

.article {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.article-image {
  width: 400px;
}

/*-------------------------------------------
  フッター
  -------------------------------------------*/
  footer {
    padding: 40px 0;
    font-size: small;
    text-align: center;
  }